.graydient {
  background:
    linear-gradient(270deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15)),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 60%
      )
      #989898;
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-blend-mode: multiply, multiply;
  animation: gradient-wave 3s ease infinite;
}

@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-toolbar::-webkit-scrollbar {
  width: 4px;
}

.custom-toolbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 10px;
}

.custom-toolbar::-webkit-scrollbar-track {
  background-color: transparent;
}
