.graydient {
  background:
    linear-gradient(270deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15)),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 60%
      )
      #989898;
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-blend-mode: multiply, multiply;
  animation: gradient-wave 3s ease infinite;
}

@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 300px); /* 3 columns */
  grid-template-rows: repeat(3, 300px); /* 3 rows  */
  gap: 5px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-item {
  border: thin gray solid;
  padding: 10px;
}

.carousel {
  padding: 10px 10px 0;
  border-radius: 4px;
  width: 250px;
  margin: auto;
}

.carousel__main {
  border-radius: 4px;
  height: 250px;
}
