# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
webapp/node_modules
webapp/.pnp
webapp.pnp.js

# testing
webapp/coverage

# next.js
webapp/.next/
webapp/out/

# production
webapp/build

# misc
.DS_Store
*.pem

# debug
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*

# local env files
.env*.local
backend/.env
.env

# vercel
webapp/.vercel

# typescript
webapp/next-env.d.ts
webapp/*.tsbuildinfo

